/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require rails_bootstrap_forms
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";


.information{
  color: white;
}

.diff{
  color: #ffd700;
}

.comment-body{
  color: green;
  padding-left: 10px;
}

a.nav-links{
  color: #428bca;
}

table, th, td {
    border: 1px solid black;
    background-color: lightblue;
    overflow: auto;
}

table.table-hover tbody tr:hover td{
  background-color: gold;
}

table.table-hover tbody tr:hover th {
  background-color: lightblue;
}

//add scroll to tables with overflow

th, td {
    padding: 10px;
}


a.del_location_link{
  color: red;
}

a.show_loc_link{
  color: white;
}

a.edit_loc_link{
  color: white;
}


.google-maps {
        position: relative;
        padding-bottom: 75%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
    }
    .google-maps img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }


.map-container{
  height: 500px;
  width: auto;
  padding-bottom: 20px;
}

#map {
        height: 100%;
        border: solid 4px gold;
      }
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }


      .controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px purple;
      }

      #origin-input,
      #destination-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 200px;
      }

      #origin-input:focus,
      #destination-input:focus {
        border-color: #4d90fe;
      }

      #mode-selector {
        color: #fff;
        background-color: #4d90fe;
        margin-left: 12px;
        padding: 5px 11px 0px 11px;
      }

      #mode-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }


